@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-sepia-rgb: 244, 233, 208; /* Sepia color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-sepia-rgb: 44, 33, 18; /* Darker sepia for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-sepia-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

